[Unit]
Description=flexit_web

[Service]
Type=simple
WorkingDirectory=/srv/flexit_web/
ExecStart=/srv/flexit_web/flexit_web
Restart=always
RestartSec=90
StartLimitInterval=400
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
